@page
@model IndexModel
@{
    ViewData["Title"] = "Home | Tololus";
}

<style>
	/* The iframe contains the map */
        iframe {
            display: flex;
            width: 90vw;
           
            height: calc(.75 * 90vw);
            /* Optionally, set maximum height and width */
            max-width: 800px;
            max-height: 710px;
            border: solid 2px gray;
            box-shadow: 2px 2px 2px silver;
            border-radius: 4px;
      


</style>

<link rel="stylesheet" href="css/team.css" type="text/css" />

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		

		<!-- Slider
		============================================= -->
	<section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-60 min-vh-md-100 include-header" data-autoplay="4000" data-speed="650" data-loop="true">

			<div class="slider-inner">
				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
					<div class="swiper-slide dark">
							<div class="container">
								<div class="slider-caption slider-caption-center">

									<div>
									<h2 class="font-primary nott" style="font-size: 2em;" data-animate="fadeInUp">E-Commerce Platform (TOSTOM).</h2>
									<p class="fw-light font-primary d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
										Get unbeatable deals & Fast delivery with TOSTOM, <br>
											Market place for all!.</p>
									<a href="comingSoon" class="button button-rounded button-large nott ls0 font-primary">Explore</a>
									</div>


								</div>
							</div>

							<div  class="swiper-slide-bg" style="background-image: url('business/images/slider/1.jpg');"></div>
						</div>
<!--  -->
						<div class="swiper-slide dark">
							<div class="container">
								<div class="slider-caption slider-caption-center">
									<div>
									<h2 class="font-primary nott" style="font-size: 2em;" data-animate="fadeInUp">T-MED HEALTHCARE.</h2>
									<p class="fw-light font-primary d-none d-sm-block" data-animate="fadeInUp" data-delay="200">Do you want to book an appointment with standard international Hospitals & Doctors? <br> Get Started with TOLUOS hassle - free Health Connect Services.</p>
										<a href="comingSoon" class="button button-rounded button-large nott ls0 font-primary">Get Started</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide-bg" style="background-image: url('business/images/slider/2.jpg');"></div>
						</div>
<!--  -->
						<div class="swiper-slide dark">
							<div class="container">
								<div class="slider-caption slider-caption-center">
									<div>
									<h2 class="font-primary nott" style="font-size: 2em;" data-animate="fadeInUp">TGR EDUCATIONAL CONSULTS.</h2>
									<p class="fw-light font-primary d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
										<strong>Are you an aspiring teeming youth residing in Nigeria seeking to study abroad, self-sponsored or scholarship?
										Worry no more! just get started with 99% likelyhood of securing your dream school by exploring <span style="background-color:aliceblue; border-radius:4px; color:turquoise; font-style:italic;">TGR EDUCATIONAL CONSULTS</span>
									</strong>	
									</p>
									
									<a href="comingSoon" class="button button-rounded button-large nott ls0 font-primary">Get Started</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide-bg" style="background-image: url('business/images/slider/3.jpg');"></div>
						</div>
<!--  -->
						<div class="swiper-slide dark">
							<div class="container">
								<div class="slider-caption slider-caption-center">
									<div>
                                   @* <h2 class="font-primary" style="font-size: 2em;" data-animate="fadeInUp">Nature Delight</h2>*@
									<p class="fw-light font-primary d-none d-sm-block" data-animate="fadeInUp" data-delay="200">Yummy local variants & inter-continental dishes can be found here at tololus Deli-Buka. <br> Eatery 4 all, the peoples' choice!!</p>
									<a href="https://naturedelightcg.com/" target="_blank" class="button button-rounded button-large nott ls0 font-primary">Get Started</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide-bg" style="background-image: url('business/images/slider/4.jpg');"></div>
						</div>

					</div>
					<!-- Slider Arrows
					============================================= -->
					<div class="slider-arrow-left" class="bg-transparent"><i class="icon-line-arrow-left"></i></div>
					<div class="slider-arrow-right" class="bg-transparent"><i class="icon-line-arrow-right"></i></div>
				</div>

				<!-- Slider Mouse Icon
				============================================= -->
				<a href="#" data-scrollto="#content" data-offset="0" class="dark one-page-arrow"><img class="infinite animated fadeInDown" src="business/images/mouse.svg" alt="Image" ></a>
			</div>

		</section>

		

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">


			

			<div id="Services" class="content-wrap pb-0" style="z-index: 1;">

				<div class="container topmargin clearfix">

					<!-- What We Do ============================================= -->

					<div  class="heading-block center border-0" data-heading="TOLOLUS">
						<h3>Our Services</h3>
						<h5>We offer Services that buttress the needs of customers!</h5>
					</div>

					<div class="row clearfix">
						<div class="center col-lg-8 offset-lg-2 bottommargin">
							<h3 class="text-rotater font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="3500">tololus Global Resource is a parent company that houses several other subsidiaries. Your digital hub of <strong>easy life</strong>. Be it <span class="t-rotate color">Business,Corporate,Medical,Travel,Media Agency,Restaurant</span><br> Just Customers' satisfaction is attained with tololus.</h3>
						</div>

						
						<div class="clear"></div>

						<!-- Features colomns
						============================================= -->
						<div class="row clearfix">
							<div class="col-lg-6 bottommargin-sm">
								<div class="feature-box media-box fbox-bg">
									<div class="fbox-media">
										<a href="#"><img src="business/images/featured/1.jpg" alt="Featured Box Image"></a>
									</div>
									<div class="fbox-content fbox-content-lg">
									<h3 id="tostom" class="nott ls0 fw-semibold" style="text-align: center;">E-COMMERCE PLATFORM (TOSTOM)<span class="subtitle font-secondary fw-light ls0">Robust E-Shop for retailers and consumers with mouth-watering deals. Shopping made <strong><span style="text-transform: uppercase; text-decoration-line:underline;">easy!</span></strong></span></h3>
										<!--  -->
									<a href="comingSoon" class="button-link border-0 color" style="display:block; text-align:center">Read More</a>
									</div>
								</div>
							</div>

							<div class="col-lg-6 bottommargin-sm">
								<div class="feature-box media-box fbox-bg">
									<div class="fbox-media">
										<a href="#"><img src="business/images/featured/2.jpg" alt="Featured Box Image"></a>
									</div>
									<div class="fbox-content fbox-content-lg">
										<h3 id="tmed" class="nott ls0 fw-semibold" style="text-align: center;">T-MED HEALTHCARE<span class="subtitle font-secondary fw-light ls0">Seeing Doctor has never been so easy! <br>
											Health at a glance.
											</span></h3>

									<span style="display:block; text-align:center">	<a href="comingSoon" class="button-link border-0 color">Read More</a></span>
									</div>
								</div>
							</div>

							<div class="col-lg-6 bottommargin-sm">
								<div class="feature-box media-box fbox-bg">
									<div class="fbox-media">
										<a href="#"><img src="business/images/featured/3.jpg" alt="Featured Box Image"></a>
									</div>
									<div class="fbox-content fbox-content-lg">
										<h3 id="edu" class="nott ls0 fw-semibold" style="text-align: center;">TGR EDUCATIONAL CONSULTS<span class="subtitle font-secondary fw-light ls0">Untie the knot of your international dreamed school/scholarship. <br>
											Do you want to study abroad? <span style="font-style:italic; text-transform:capitalize;"> <strong>Explore TGR EDUCATIONAL CONSULTS</strong></span>
											</span></h3>
									<a href="comingSoon" class="button-link border-0 color" style="display:block; text-align: center;"> Read More</a>
									</div>
								</div>
							</div>

						<div class="col-lg-6 bottommargin-sm">
							<div class="feature-box media-box fbox-bg">
								<div class="fbox-media">
									<a href="#"><img src="business/images/featured/4.jpg" alt="Featured Box Image"></a>
								</div>
								<div class="fbox-content fbox-content-lg">
									<h3 id="nature" class="nott ls0 fw-semibold" style="text-align: center;">
										NATURE DELIGHT<span class="subtitle font-secondary fw-light ls0">
											Non-Stop finger linking! Biomes of delicacies. <br>
											<span style="font-style:italic; text-transform:capitalize;"> <strong>Nature Delight, Tasty! Yummy! </strong></span>
										</span>
									</h3>
									<a href="comingSoon" class="button-link border-0 color" style="display:block; text-align: center;"> Read More</a>
								</div>
							</div>
						</div>

						</div>
					</div>
				</div>

				<!-- How We Work
				============================================= -->
				<div class="section bg-transparent clearfix content-wrap" >
					<div class="container clearfix">
						<div class="heading-block bottommargin-lg center border-0" data-heading="WE">
							<h3 class="nott ls0">How We Work</h3>
						</div>
					</div>

					<!-- How We Work - Carousel
					============================================= -->
					<div id="oc-features" class="owl-carousel owl-carousel-full image-carousel carousel-widget customjs">
						<div class="oc-item">
							<div class="row cleafix">
								<div class="col-xl-8">
									<img src="business/images/carousel/1.jpg" alt="Image">
								</div>
								<div class="col-xl-4" style="padding: 20px 0 0 20px;">
									<h3>Great Team Work.</h3>
									<p>
We have a team of top-notch professionals.  We believe in maintaining high standards in our services to our customers. 				
									</p>
									<a data-scrollto="#idris" href="#idris" class="button-link">Read More</a>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="row cleafix">
								<div class="col-xl-8">
									<img src="business/images/carousel/3.jpg" alt="Image">
								</div>
								<div class="col-xl-4" style="padding: 20px 0 0 20px;">
									<h3>Amazing Career Prospects.</h3>
									<p>
									We provide <span style="background-color:lightskyblue; border-radius:4px; font-style:italic;">
										hassle free
									</span>transition from localised education institutions
										to a globally recognised institutions outside the local vicinity.
									
									</p>
								<a href="comingSoon" class="button-link">Read More</a>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="row cleafix">
								<div class="col-xl-8">
									<img src="business/images/carousel/4.jpg" alt="Image">
								</div>
								<div class="col-xl-4" style="padding: 20px 0 0 20px;">
									<h3>Beautiful Workspace.</h3>
									<p>
										Resilience is the most worthy of pain! We have a quiet and conducive neighborhood 
										and an exquisite office workspace that will glue an employee to his seat.
									
									</p>
									<a href="#" class="button-link">Read More</a>
							</div>
							</div>
						</div>
					</div>
				</div>

				<!-- About Us
				============================================= -->
				<div id="About" class="section p-0 mt-0 bg-transparent clearfix" style="border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">
					<div class="row align-items-stretch clearfix">
						<div class="col-lg-6 center col-padding" style="background: url('business/images/sections/1.jpg') center center no-repeat; background-size: cover;border-radius:32px; padding-left:90px;">
							<div>&nbsp;</div>
						</div>

						<div class="col-lg-6 col-padding">
							<div>
								<div style="position: relative;">
									<div class="heading-block border-0" data-heading="A">
										<h3 class="nott ls0">About Us</h3>
									</div>
								</div>

								<!-- About Us Featured Boxes
								============================================= -->
								<div class="row clearfix">
									<div class="col-lg-10 col-md-8 bottommargin">
										<div class="feature-box fbox-plain">
											<div class="fbox-icon">
												<a href="#"><i class="icon-et-globe"></i></a>
											</div>
											<div class="fbox-content">
												<h3>Intercontinental Networking</h3>
												<p>
												Businesses are conducted with people, not objects! 
With our strong local & international networks and robust human relations,
 you can rest assured that your goals are piece of cake!
											
												</p>
											</div>
										</div>
									</div>
									<div class="col-lg-10 col-md-8 bottommargin">
										<div class="feature-box fbox-plain">
											<div class="fbox-icon">
											<a href="#"><img src="business/images/icons/24help.svg" alt="Image"></a>
											</div>
											<div class="fbox-content">
												<h3>24/7 Support Team</h3>
												<p>
													Our 24/7 support channels are epic, the response time is awesome. 
													And dedicated technical personnel is always available to attend to your needs.
												
												</p>
											</div>
										</div>
									</div>
									<div class="col-lg-10 col-md-8">
										<div class="feature-box fbox-plain">
											<div class="fbox-icon">
												<a href="#"><i class="icon-et-document"></i></a>
											</div>
											<div class="fbox-content">
												<h3>Easy & Intuitive Steps</h3>
												<p>
												Our 1, 2, and 3 easy clickable steps will wow your happiness.
													
												
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			<!-- Our Works
						============================================= -->
			<div id="Portfolio" class="section bg-transparent mb-0">
				<div class="container">
					<div class="heading-block center border-0" data-heading="O">
						<h3 class="nott ls0">Our Works</h3>
					</div>

					<div class="grid-filter-wrap">
						<!-- Grid Filter
						============================================= -->
						<ul class="grid-filter style-2 mx-auto" data-container="#portfolio">

							<li class="activeFilter"><a href="#" data-filter="*">SHOW ALL</a></li>
							<li><a href="#" data-filter=".pf-graphics">TOSTOM</a></li>
							<li><a href="#" data-filter=".pf-illustrations">T-MED HEALTHCARE</a></li>
							<li><a href="#" data-filter=".pf-uielements">TGR EDUCATIONAL CONSULTS</a></li>
							<li><a href="#" data-filter=".pf-media">NATURE DELIGHT</a></li>

						</ul><!-- .grid-filter end -->
					</div>
				</div>

			<!-- Portfolio Items
				============================================= -->
				<div id="portfolio" class="portfolio row g-0 portfolio-reveal grid-container">

					<article class="portfolio-item col-6 col-md-4 col-lg-3 pf-media pf-icons">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="images/portfolio/4/1.jpg" alt="Open Imagination">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="images/portfolio/full/1.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="image" title="Image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-ellipsis"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Open Imagination</a></h3>
								<span><a href="#">Media</a>, <a href="#">Icons</a></span>
							</div>
						</div>
					</article>
					

					<article class="portfolio-item col-6 col-md-4 col-lg-3 pf-illustrations">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="images/portfolio/4/2.jpg" alt="Locked Steel Gate">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="images/portfolio/full/2.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="image" title="Image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-ellipsis"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Locked Steel Gate</a></h3>
								<span><a href="#">Illustrations</a></span>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-6 col-md-4 col-lg-3 pf-graphics pf-uielements">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="#">
									<img src="images/portfolio/4/3.jpg" alt="Mac Sunglasses">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="https://vimeo.com/89396394" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="iframe"><i class="icon-line-play"></i></a>
										<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-ellipsis"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-video.html">Mac Sunglasses</a></h3>
								<span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-6 col-md-4 col-lg-3 pf-icons pf-illustrations">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="images/portfolio/4/4.jpg" alt="Open Imagination">
								</a>
								<div class="bg-overlay" data-lightbox="gallery">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="images/portfolio/full/4.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
										<a href="images/portfolio/full/4-1.jpg" class="d-none" data-lightbox="gallery-item"></a>
										<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-ellipsis"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-gallery.html">Morning Dew</a></h3>
								<span><a href="#">Icons</a>, <a href="#">Illustrations</a></span>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-6 col-md-4 col-lg-3 pf-uielements pf-media">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="images/portfolio/4/5.jpg" alt="Console Activity">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="images/portfolio/full/5.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="image" title="Image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-ellipsis"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Console Activity</a></h3>
								<span><a href="#">UI Elements</a>, <a href="#">Media</a></span>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-6 col-md-4 col-lg-3 pf-graphics pf-illustrations">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="images/portfolio/4/6.jpg" alt="Open Imagination">
								</a>
								<div class="bg-overlay" data-lightbox="gallery">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="images/portfolio/full/6.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
										<a href="images/portfolio/full/6-1.jpg" class="d-none" data-lightbox="gallery-item"></a>
										<a href="images/portfolio/full/6-2.jpg" class="d-none" data-lightbox="gallery-item"></a>
										<a href="images/portfolio/full/6-3.jpg" class="d-none" data-lightbox="gallery-item"></a>
										<a href="portfolio-single-gallery.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-ellipsis"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-gallery.html">Shake It!</a></h3>
								<span><a href="#">Illustrations</a>, <a href="#">Graphics</a></span>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-6 col-md-4 col-lg-3 pf-uielements pf-icons">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="portfolio-single-video.html">
									<img src="images/portfolio/4/7.jpg" alt="Backpack Contents">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="https://www.youtube.com/watch?v=kuceVNBTJio" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="iframe"><i class="icon-line-play"></i></a>
										<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-ellipsis"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-video.html">Backpack Contents</a></h3>
								<span><a href="#">UI Elements</a>, <a href="#">Icons</a></span>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-6 col-md-4 col-lg-3 pf-graphics">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="images/portfolio/4/8.jpg" alt="Sunset Bulb Glow">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
										<a href="images/portfolio/full/8.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="image" title="Image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-ellipsis"></i></a>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Sunset Bulb Glow</a></h3>
								<span><a href="#">Graphics</a></span>
							</div>
						</div>
					</article>

				</div>





				<!-- Video Sections
				============================================= -->
				<div class="section bg-transparent mt-0 clearfix">
					<div class="container clearfix">

				

						<div class="row topmargin-lg clearfix">
							<div class="col-lg-6 p-0">
								<!-- Youtube Video Link
								============================================= -->
								<a href="https://www.youtube.com/watch?v=NS0txu_Kzl8" data-lightbox="iframe">
									<img src="business/images/sections/video.jpg" alt="Youtube Video"  style="box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15); border-radius: 6px;">
									<i class="icon-play" style="position: absolute; top: 50%; left: 50%; font-size: 60px; color: #FFF; margin-top: -45px; margin-left: -23px"></i>
								</a>
							</div>
							<!-- Video Texts
							============================================= -->
							<div class="col-lg-6" style="padding-left: 60px;">
								<div class="heading-block topmargin-sm bottommargin-sm border-0">
									<h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px">A small Video from Our Customers.</h3>
								</div>
								<p class="fw-normal">Interactively facilitate. Tactical systems with compelling materials. Objectively re-engineer diverse relationships long-term impact methodologies.</p>
								<h5 class="mb-0 fw-semibold">Abdulmujib Alatise</h5>
							    <a data-scrollto="#testimonial" href="#" class="button-link ms-0">Read More</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Parallax Area
				============================================= -->
				<div class="section parallax topmargin-lg mb-0 border-top-0 clearfix" style="background-image: url('business/images/sections/2.jpg'); background-size: cover;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
					<div class="container clearfix">

						<div class="row col-mb-50 cleafix">
							<div class="col-md-6 dark" style="padding-left: 60px;">
								<div class="heading-block bottommargin-sm border-0">
									<h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px">Collections from Our Customers.</h3>
								</div>
								
								<p>
								Look right <span></span> to see the heart-soothed testimonials our happy clients  have given.
								</p>
								
								
							</div>

							<!-- Testimonials slider
							============================================= -->
						<div id="testimonial" class="col-md-5 offset-md-1">
								<h4 class="dark">What our customers are <strong><span style="color:azure">saying!</span></strong></h4>
								<div class="fslider testimonial" data-animation="slide" data-arrows="false">
									<div class="flexslider">
										<div class="slider-wrap">
											<div class="slide">
												<div class="testimonial border-0 shadow-none">
													<div class="testi-content">

														<p class="bottommargin-sm font-primary">
														Thank you very much for the filter as it as served it's purpose 
														especially in my health aspect of typhoid.
														My family can't thank you enough for the device. Yours Faithfully.

													</p>
														<div class="testi-meta">
														Mohammed. K. Fahad
															<span>Dedicated Customer</span>
															<div class="testimonials-rating">
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="slide">
												<div class="testimonial border-0 shadow-none">
													<div class="testi-content">
														<p class="bottommargin-sm font-primary">
														Just wanted to tell you how grateful we are for the filter we purchased from you, it has really worked wonders as you demonstrated and said.
														I can now see that it was worth spending that amount for the filter
														Once again thank you very much and may God bless you and your business
														
														</p>
														<div class="testi-meta">
															Sherif
															<span>Business Manager</span>
															<div class="testimonials-rating">
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="slide">
												<div class="testimonial border-0 shadow-none">
													<div class="testi-content">
														<p class="bottommargin-sm font-primary">
															Excellent website, really versatile and well
															articulated. Makes anyone feels at home!
														
														</p>
														<div class="testi-meta">
															Anonymous User
															<span>@*ThemeForest user*@</span>
															<div class="testimonials-rating">
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="slide">
												<div class="testimonial border-0 shadow-none">
													<div class="testi-content">
														<p class="bottommargin-sm font-primary">
															Yes, this is absolutely a wonderful device as it has really helped not 
															just on saving cost of buying water but also helped in improving my health as I
															kept treating typhoid and never knew the cause was from the same water that I keep buying. 
															I will forever remain grateful and would recommend people 
															to buy into your RO devices and continue to spread the awareness. 
														
														</p>
														<div class="testi-meta">
														Mr.Akoshi
															<span></span>
															<div class="testimonials-rating">
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
																<i class="icon-star3"></i>
															</div>
														</div>
													</div>
												</div>
											</div>
										

										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>


				<!-- Team Work
				============================================= -->
			
	<section class="ftco-section">
		<div class="container">
			
			<div class="fancy-title title-border title-center">
						<h3>Meet Our Team</h3>
					</div>

						<div id="idris" id="oc-team-list" class="owl-carousel team-carousel carousel-widget" data-margin="30" data-nav="false" data-loop="true" data-autoplay="3000" data-items-md="1" data-items-xl="2">

						<div class="oc-item">
							<div class="team team-list row align-items-center">
								<div class="team-image col-sm-6">
									<img src="images/team/Idris.png" alt="Idris">
								</div>
								<div class="team-desc col-sm-6">
									<div class="team-title"><h4>Idris Bala Usman</h4><span>SA, Lead Software Engineer</span></div>
									<div class="team-content team_content">
										<p>
											I am an experienced C#, .Net Core developer,MCT, Program Manager.
 I am an effective IT project management expert with over 5 years of experience and strong vendor management skills.


										
										</p>
									</div>

										<a href="https://github.com/tedris94" class="social-icon si-rounded si-small si-github">
										<i class="icon-github"></i>
										<i class="icon-github"></i>
									</a>
								
									<a href="https://ng.linkedin.com/in/idris-usman-b79a3116a" class="social-icon si-rounded si-small si-linkedin">
										<i class="icon-linkedin"></i>
										<i class="icon-linkedin"></i>
									</a>
										<a href="https://web.facebook.com/idrisbalausman9" class="social-icon si-rounded si-small si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>

								</div>

							</div>
						</div>

						<div class="oc-item">
							<div class="team team-list row align-items-center">
								<div class="team-image col-sm-6">
									<img src="images/team/2.jpg" alt="Josh Clark">
								</div>
								<div class="team-desc col-sm-6">
									<div class="team-title"><h4>Abdulmujeeb  Alatise</h4><span>Manager Tostom<sup>tm</sup></span></div>
									<div class="team-content team_content">
										<p>Eradicate invest honesty human rights accessibility theory of social change. Diversity experience in the field compassion, inspire breakthroughs planned giving.</p>
									</div>
								
									<a href="#" class="social-icon si-rounded si-small si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>

											<a href="#" class="social-icon si-rounded si-small si-linkedin">
												<i class="icon-linkedin"></i>
												<i class="icon-linkedin"></i>
											</a>
											<a href="#" class="social-icon si-rounded si-small si-facebook">
												<i class="icon-facebook"></i>
												<i class="icon-facebook"></i>
											</a>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="team team-list row align-items-center">
								<div class="team-image col-sm-6">
									<img src="images/team/8.jpg" alt="Mary Jane">
								</div>
								<div class="team-desc col-sm-6">
									<div class="team-title"><h4>Mary Jane</h4><span>Sales</span></div>
									<div class="team-content team_content">
										<p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
									</div>
											<a href="#" class="social-icon si-rounded si-small si-twitter">
												<i class="icon-twitter"></i>
												<i class="icon-twitter"></i>
											</a>

											<a href="#" class="social-icon si-rounded si-small si-linkedin">
												<i class="icon-linkedin"></i>
												<i class="icon-linkedin"></i>
											</a>
											<a href="#" class="social-icon si-rounded si-small si-facebook">
												<i class="icon-facebook"></i>
												<i class="icon-facebook"></i>
											</a>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="team team-list row align-items-center">
								<div class="team-image col-sm-6">
									<img src="images/team/4.jpg" alt="Nix Maxwell">
								</div>
								<div class="team-desc col-sm-6">
									<div class="team-title"><h4>Nix Maxwell</h4><span>Support</span></div>
											<div class="team-content team_content">
										<p>Eradicate invest honesty human rights accessibility theory of social change. Diversity experience in the field compassion, inspire breakthroughs planned giving.</p>
									</div>
											<a href="#" class="social-icon si-rounded si-small si-twitter">
												<i class="icon-twitter"></i>
												<i class="icon-twitter"></i>
											</a>

											<a href="#" class="social-icon si-rounded si-small si-linkedin">
												<i class="icon-linkedin"></i>
												<i class="icon-linkedin"></i>
											</a>
											<a href="#" class="social-icon si-rounded si-small si-facebook">
												<i class="icon-facebook"></i>
												<i class="icon-facebook"></i>
											</a>
								</div>
							</div>
						</div>

					</div>



</div>
	</section>
				<!-- Brands Carousel
				============================================= -->
	
				<div class="section m-0 clearfix" style="padding: 80px 0; display:flex; align-content:space-evenly">
					<div id="oc-clients-full" class="owl-carousel owl-carousel-full image-carousel carousel-widget" data-margin="0" data-nav="false" data-pagi="false" data-loop="true" data-autoplay="3000" data-items-xs="2" data-items-sm="3" data-items-md="5" data-items-lg="5" data-items-xl="5">

					<div class="oc-item"><a href="#"><img src="business/images/clients/1.png" alt="Brands"></a></div>
					<div class="oc-item"><a href="#"><img src="business/images/clients/2.png" alt="Brands"></a></div>
					<div class="oc-item"><a href="#"><img src="business/images/clients/3.png" alt="Brands"></a></div>
					<div class="oc-item"><a href="#"><img src="business/images/clients/4.png" alt="Brands"></a></div>
					

					</div>

			


			</div>


		</section><!-- #content end -->


			<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css3/style3.css">

	<section class="ftco-section">
		<div class="container">

			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row mb-5">
							<div class="col-md-7" >
								<div id="Contact" class="contact-wrap w-100 p-md-5 p-4" style="border-radius:16px">
									<h3 class="mb-4">Contact Us</h3>
									<!-- Boostrap Success & Error Message  -->
									@if(Model.errorMessage.Length > 0)
									{
										<div class='alert alert-warning alert-dismissible fade show' role='alert'>

										<strong>@Model.errorMessage</strong>
										<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>

										</div>
									} 
									else if(Model.successMessage.Length > 0)
									 {
										<div class='alert alert-success alert-dismissible fade show' role='alert'>

										<strong>@Model.successMessage</strong>
										<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>

										</div>
									 }
									
									<form method="POST" >
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label">Full Name</label>
													<input type="text" asp-for="contactForm.Name" class="form-control" placeholder="Name">
													<span asp-validation-for="contactForm.Name" class="text-danger"></span>
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label class="label">Email Address</label>
													<input type="email" asp-for="contactForm.EmailAddress" class="form-control" placeholder="Email">
													<span asp-validation-for="contactForm.EmailAddress" class="text-danger"></span>
												</div>
											</div>


											<div class="col-md-6">
												<div class="form-group">
													<label class="label">Phone Number</label>
													<input type="text" class="form-control" asp-for="contactForm.PhoneNumber" placeholder="Phone Number">
												<span asp-validation-for="contactForm.PhoneNumber" class="text-danger"></span>
												</div>
											</div>

												<div class="col-md-6">
												<div class="form-group">
													<label class="label" class="form-control">Category</label>
												
													<select asp-for="contactForm.Category" class="form-control">
														<option typeof="search"></option>
														<option value="TOSTOM">TOSTOM</option>
														<option value="T-MED HEALTHCARE">T-MED HEALTHCARE</option>
														<option value="TGR EDUCATIONAL CONSULTS">TGR EDUCATIONAL CONSULTS</option>
														<option value="NATURE DELIGHT">NATURE DELIGHT</option>
													</select>
													<span asp-validation-for="contactForm.Category" class="text-danger"></span>
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label class="label">Subject</label>
													<input type="text" asp-for="contactForm.Subject" class="form-control"  placeholder="Subject">
												<span asp-validation-for="contactForm.Subject" class="text-danger"></span>
												</div>
											</div>

										

											<div class="col-md-12">
												<div class="form-group">
													<label class="label">Message</label>
													<textarea  asp-for="contactForm.Message" class="form-control"  cols="30" rows="4" placeholder="Message"></textarea>
												<span asp-validation-for="contactForm.Message" class="text-danger"></span>
												</div>
											</div>

											<div class="col-md-12">
												<div class="form-group">
													<input type="submit"  value="Send Message" class="btn btn-primary">
													
												</div>
											</div>

										</div>
									</form>
								</div>
							</div>

							<div class="col-md-5 d-flex align-items-stretch">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3939.0588920610085!2d7.36697671375586!3d9.149154089617157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104ddf2342cb3dc5%3A0xd389736b20c1a245!2sWokili%20St%2C%20901101%2C%20Dushepe%2C%20Federal%20Capital%20Territory!5e0!3m2!1sen!2sng!4v1679068449393!5m2!1sen!2sng"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							
								
							
							</div>

						</div>


						<div class="row">
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="fa fa-map-marker"></span>
									</div>


									<div class="text">
										<p><span>Address:</span> Power Line F01 Kubwa Bawari Abuja 901101</p>
									</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="fa fa-phone"></span>
									</div>
									<div class="text">
										<p> <span>Phone: <br> <a href="tel://+2349064951938">+234 906 495 1938</a> </span> </p>
									</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="fa fa-paper-plane"></span>
									</div>
									<div class="text">
										<p><span>Email:</span> <a href="mailto:info@tololus.com">info@tololus.com</a></p>
									</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="fa fa-globe"></span>
									</div>
									<div class="text">
										<p><span>Website</span> <a href="https://www.tololus.com">tololus.com</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</section>

	</div> @*content-wrap end*@



	<script src="js3/jquery.min.js"></script>
	<script src="js3/popper.js"></script>
	<script src="js3/bootstrap.min.js"></script>
	<script src="js3/jquery.validate.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="js3/google-map.js"></script>
	<script src="js3/main.js"></script>




			</div><!-- #wrapper end -->
