@page
@model Tololus.Pages.searchModel
@{
	ViewData["Title"] = "Home | Search";
}

<div id="wrapper" class="clearfix">

    	
		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Search Results</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="./">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Search</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<gcse:searchresults-only></gcse:searchresults-only>

				</div>
			</div>
		</section><!-- #content end -->


</div>