@page
@model Tololus.Data.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ContactForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactForm.Name" class="control-label"></label>
                <input asp-for="ContactForm.Name" class="form-control" />
                <span asp-validation-for="ContactForm.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactForm.EmailAddress" class="control-label"></label>
                <input asp-for="ContactForm.EmailAddress" class="form-control" />
                <span asp-validation-for="ContactForm.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactForm.PhoneNumber" class="control-label"></label>
                <input asp-for="ContactForm.PhoneNumber" class="form-control" />
                <span asp-validation-for="ContactForm.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactForm.Category" class="control-label"></label>
                <input asp-for="ContactForm.Category" class="form-control" />
                <span asp-validation-for="ContactForm.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactForm.Subject" class="control-label"></label>
                <input asp-for="ContactForm.Subject" class="form-control" />
                <span asp-validation-for="ContactForm.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactForm.Message" class="control-label"></label>
                <input asp-for="ContactForm.Message" class="form-control" />
                <span asp-validation-for="ContactForm.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
